
input,#filtersbutton{
    background-color:darkslategray;
    border:none;
    font-size: 15px;
    border-radius: 3px;
    height:40px;
}


#content{
    margin:15px 15px;
    font-size: 17px;
}
.canteenname{
    display: inline-block;
    background-color: #f4511e;
    color:white;
    text-align: center;
    border:3px white solid;
}
.canteennamebig{
    font-size:40px;
}

table{
    width:98%;
    font-size: 16px;
    align-content: center;
    margin:auto;
}
button{
    background-color: rgba(255,255,255,0);   border:none;
}
