*{
    box-sizing: border-box;
}

#content{
    width:95%;
    margin: 10px auto;
}
.commentinput{
    margin: 0px 0px 5px 0px;
    width:80%;
    padding: 4px;
}


.pic{
    width:100%;
}

.commentwritten{
    display: inline-block;
    width:92%;
    float:right;
}

/*
.glyphicon.glyphicon-user.photo{
    width:8% !important;
    display: inline-block;
    height: auto !important;
}
*/

.pho{
    width:8%;
    display: inline-block;
    font-size:30px;
    padding-left:6px;
}


.commentbox{
    background-color:antiquewhite;
    overflow: auto;
}

.likeform button{
    background-color:rgba(0,0,0,0);
    border:0px;
}

.likeform{
    display: inline-block;
    position: relative;
    bottom:0px;
}
.commentbox2{
    width:95%;
    float:right;
}